*{
    padding: 0px;
    margin: 0px;
}
body{
    color: rgb(255, 255, 255);
}
#container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background: linear-gradient(to right,teal,red,gold,rgb(10, 10, 98));
    width: 100%;
    height: 400vh;
}
#sub-container input{
    width: 40px;
    height: 5vh;
}
button{
    border-radius: 2px;
    border-color: chocolate;
}